{% extends "users/base.html" %}
{% load crispy_forms_tags %}
<!-- BLOCK TITLE -->
{% block title %}
	The Blog | Logged Out
{% endblock %}

<!-- BLOCK CONTENT -->
{% block content %}
	<div class="container">
		<h2 class="mt-5">You have been logged out!!</h2>
			<div class="border-top pt-3">
				<small class="text-muted">
					<a class="ml-2 btn btn-primary" href="{% url 'login' %}">Log In Again</a>
					<a class="ml-2 btn btn-primary" href="{% url 'home' %}">View Posts</a>
				</small>
			</div>
	</div>
	
{% endblock content %}